#img-bg {
	background-image: url(https://i.ibb.co/qN0DGLS/Sign-up-1.gif);
  width: 400px;
  min-height: 488px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.cadastro-box {
  position: inherit;
  top: 45%;
  left: 60%;
  height:450px;
  width: 500px;
  padding: 20px;
  transform: translate(-50%, -1%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
}

.cadastro-box .user-box {
  position: relative;
}

.cadastro-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgb(50, 5, 212);
  outline: none;
  background: transparent;
}

.cadastro-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 0;
  font-size: 20px;
  color: rgb(7, 0, 0);
  pointer-events: none;
  transition: .5s;
}

.cadastro-box .user-box input:focus ~ label,
.cadastro-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #616161;
  font-size: 14px;
}

.cadastro-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 50px;
  letter-spacing: 4px;
}



