<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="p-4">
    <form>
      <h1>Cadastre-se</h1>
      <div class="form-group">
        <label for="nome">Nome</label>
        <input
          type="email"
          class="form-control"
          id="nome"
          aria-describedby="nomeHelp"
          placeholder="Nome"
        />
      </div>
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input
          type="text"
          class="form-control"
          id="telefone"
          aria-describedby="telefoneHelp"
          placeholder="Telefone"
        />
      </div>
      <div class="form-group">
        <label for="foto">Foto de perfil</label>
        <input
          type="text"
          class="form-control"
          id="foto"
          aria-describedby="fotoHelp"
          placeholder="Link da foto"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Digite seu Email"
        />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          type="password"
          class="form-control"
          id="senha"
          placeholder="Senha"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >
        Registrar
      </button>
      <button
        class="btn btn-danger"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
