.container-fluid {
  min-height: 100vh;
  height: fit-content;
  padding: 50px 0 50px 0;
}

.img-bg {
  background-image: url(https://i.ibb.co/qN0DGLS/Sign-up-1.gif);
  width: auto;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cadastro-box {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.cadastro-box .user-box {
  position: relative;
}

.cadastro-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 15px;
  color: rgb(8, 0, 0);
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #8c52ff;
  outline: none;
  background: transparent;
}

.cadastro-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 9px 0;
  font-size: 20px;
  color: #797979;
  pointer-events: none;
  transition: 0.5s;
}

.cadastro-box .user-box input:focus ~ label,
.cadastro-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #9c9c9c;
  font-size: 14px;
}

.cadastro-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 50px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 50px;
  letter-spacing: 4px;
}
