ul.redes-sociais{
    list-style:none;
    padding: 0;
}

ul.redes-sociais li{
display: inline;
margin: 0;
padding: 5px;
}

.fa{
    font-size:35pt;
    color: black;
    padding: 10px;
}

.fa-github-square:hover{
    color:#24292F
}
