<footer class="page-footer font-small pt-4 mt-5">
  <div class="container-fluid">
    <div class="row d-flex">
      <div class="col-12">
        <h4 class="text-center">Nossas Redes Sociais</h4>
      </div>
    </div>    
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="redes-sociais">
          <li>
            <a
              href="#"
              target="_blank"
              class="icoGit"
              ><i class="fa fa-github" aria-hidden="true"></i></a>
              <a
              href="#"
              target="_blank"
              class="icoLinkedin"
              ><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a
              href="#"
              target="_blank"
              class="icoInsta"
              ><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a
              href="#"
              target="_blank"
              class="icoFace"
              ><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a
              href="#"
              target="_blank"
              class="icoYoutube"
              ><i class="fa fa-youtube" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>          
  </div>
</footer>
