<div class="container-fluid">

  <div id="carouselExampleIndicators" class="carousel slide mt-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-9 d-flex align-items-center justify-content-center">
            <div class="col-md-6">
              <h1>Quem é a IntegraJá?</h1>
            </div>
            <div class="col-md-6">
              <img class="d-block" src="https://i.imgur.com/gD0WneT.png" width="700px" alt="Primeiro Slide">
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
              <h4 class="subtitulo">Nossa proposta é o desenvolvimento de uma rede social voltada para os grupos sociais
                em situação de
                vulnerabilidade, onde os usuários poderão se cadastrar e trocar experiências, contatos, cursos,
                divulgação de trabalhos freelancer ou vagas de trabalho inclusivas, proporcionando assim maior inclusão
                no mercado de trabalho</h4>
            </div>
          </div>
          <div class="col-md-6">
            <img class="d-block" src="https://i.imgur.com/ulheJWh.png" width="700px" alt="Segundo Slide">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
              <h4 class="subtitulo">Estamos aqui para ajudar você a conquistar à vaga dos sonhos !!!</h4>
            </div>
          </div>
          <div class="col-md-6">
            <img class="d-block" src="https://i.imgur.com/0GiSSWS.png" width="700px" alt="Terceiro Slide">
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <hr class="my-5">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 class="display-4 text-center">Equipe de Desenvolvimento</h3>
    </div>
  </div>
  <div class="container-fluid mt-5 align-content-center">
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://github.com/1-Cesar.png" alt="Foto do Desenvolvedor Cesar">
            <div class="card-body">
              <h5 class="card-title">Cesar Augusto Bandeira Pereira</h5>
              <p class="card-text">Desenvolvedor Java Jr. FullStack</p>
              <p class="card-text">Tecnologias: Java, Spring, Angular, Microsoft SQLServer, MySQL, VB.NET, HTML, CSS,
                JS, Bootstrap, Git e Github</p>
            </div>
            <div class="card-footer d-flex">
              <a href="https://github.com/1-Cesar"><i class="fa fa-github" aria-hidden="true"></i> </a>

              <a href="https://www.linkedin.com/in/cesar-augusto-bandeira-pereira/"><i class="fa fa-linkedin"
                  aria-hidden="true"></i> </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.github.com/oieusouoede.png" alt="Foto do Desenvolvedor Edgar">
            <div class="card-body">
              <h5 class="card-title">Edgar Soares Marinho</h5>
              <p class="card-text">Desenvolvedor FullStack e Historiador</p>
              <p class="card-text">Tecnologias: Java, Spring, Angular, React, Bootstrap, JS, TS e Python</p>
            </div>
            <div class="card-footer d-flex">
              <a href="https://www.github.com/oieusouoede"><i class="fa fa-github" aria-hidden="true"></i> </a>
              <a href="https://www.linkedin.com/in/edesoares/"><i class="fa fa-linkedin" aria-hidden="true"></i> </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/ws7jWRR/Edilaine-Ft.png"
              alt="Foto da Desenvolvedora Edilaine">
            <div class="card-body">
              <h5 class="card-title">Edilaine Silva de Sousa</h5>
              <p class="card-text">Desenvolvedora Java Jr. FullStack</p>
              <p class="card-text">Tecnologias: Java, Spring, Angular, Bootstrap, Git e Github</p>
            </div>
            <div class="card-footer d-flex">
              <a href="https://github.com/Edilainesds"> <i class="fa fa-github" aria-hidden="true"></i> </a>

              <a href="https://www.linkedin.com/in/edilaine-silva-a683a1105/"><i class="fa fa-linkedin"
                  aria-hidden="true"></i> </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://www.github.com/pdrlcx.png" alt="Foto do Desenvolvedor Pedro">
            <div class="card-body">
              <h5 class="card-title">Pedro Lucas Silvério</h5>
              <p class="card-text">Desenvolvedor Java Jr. FullStack</p>
              <p class="card-text">Tecnologias: Java, MySQL, Spring, Bootstrap, Angular, HTML, CSS, JS, TypeScript</p>
            </div>
            <div class="card-footer d-flex">
              <a href="https://www.github.com/pdrlcx"><i class="fa fa-github" aria-hidden="true"></i> </a>

              <a href="https://www.linkedin.com/in/pedrolucassilverio/"><i class="fa fa-linkedin"
                  aria-hidden="true"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-5">

    <div class="jumbotron jumbotron-fluid mt-5 mb-5">
      <div class="container">
        <h3 class="display-4 text-center">Missão</h3>
        <br>
        <p>Integrar com urgência pessoas em situação de vulnerabilidade ao mercado de trabalho, permitindo que estas possam ser encontradas por empresas, promovendo um ambiente corporativo mais diversificado.</p>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid mt-5 mb-5">
      <div class="container">
        <h3 class="display-4 text-center">Visão</h3>
        <br>
        <p>Ser reconhecido como Rede Social modelo em integração e capacitação de pessoas em situação de vulnerabilidade para o mercado de trabalho. Fornecendo serviço de qualidade, sólido e com parcerias com grandes players do mercado.</p>
      </div>
    </div>

    <div class="jumbotron jumbotron-fluid mt-5 mb-5">
      <h3 class="display-4 text-center mb-5">Valores</h3>
      <div class="col-md-12 d-flex justify-content-center ali">        
          <div class="col-md-3">            
            <ul style="list-style-type: none;">
              <strong>
                <li><span class="valor1">I</span>:ntegridade</li>
                <li><span class="valor2">N</span>:obreza</li>
                <li><span class="valor3">T</span>:ransparência</li>
                <li><span class="valor4">E</span>:mpatia</li>
                <li><span class="valor1">G</span>:ratidão</li>
                <li><span class="valor2">R</span>:espeito</li>
                <li><span class="valor3">A</span>:ceitação</li>
                <li><span class="valor4">J</span>:ovialidade</li>
                <li><span class="valor1">A</span>:cessibilidade</li>
              </strong>             
            </ul>
          </div>
            <div class="col-md-3" id="img-bg">            
          </div>
        
      </div>           
    </div>
</div>