<div class="container vh-100">
  <form>
    <h1>Entrar</h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [(ngModel)]="usuarioLogin.email"
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
        placeholder="Digite seu Email"
      />
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input
        [(ngModel)]="usuarioLogin.senha"
        type="password"
        class="form-control"
        id="senha"
        name="senha"
        aria-describedby="senhaHelp"
        placeholder="Senha"
      />
    </div>
    <button type="submit" class="btn btn-primary" (click)="login($event)">Entrar</button>
    <hr class="my-3" />
    <p class="text-center">Não tem uma conta? <a routerLink="/cadastro">Cadastre-se Agora !!!</a></p>
  </form>
</div>
