<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/landing']"
    ><img
      class="mx-3"
      src="../../favicon.ico"
      alt="Logotipo Integra Já"
    />IntegraJá
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-3 mr-auto">
      <li class="nav-item active" *ngIf="auth.logado()">
        <a class="nav-link" [routerLink]="['/inicio']"
          >Feed<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/quem-somos']"
          >Quem Somos<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contato']"
          >Contato<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>

    <a
      *ngIf="auth.logado() == false"
      class="nav-link roxo"
      [routerLink]="['/login']"
      >Entrar</a
    >

    <a
      *ngIf="auth.logado() == false"
      class="nav-link roxo"
      [routerLink]="['/cadastro']"
      >Cadastre-se</a
    >

    <div class="nav-item dropdown" *ngIf="auth.logado()">
      <a
        class="nav-link rounded-circle"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{ auth.foto }}"
          alt="avatar"
          width="50px"
          height="50px"
          class="rounded-circle"
        />
      </a>
      <div
        class="dropdown-menu px-1 dropdown-menu-right"
        aria-labelledby="navbarDropdown"
      >
        <a class="dropdown-item disabled">
          <p>
            {{ auth.nome }}
          </p>
        </a>
        <a
          [routerLink]="['/perfil', auth.id]"
          class="dropdown-item d-flex justify-content-between align-items-center"
          ><span>Perfil</span><i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <div class="dropdown-divider"></div>
        <a
          class="dropdown-item d-flex justify-content-between align-items-center"
          (click)="sair()"
        >
          <span>Sair</span><i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</nav>
