@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto+Condensed:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18;
}

.btn-roxo {
  background-color: #8c52ff !important;
  color: white !important;
}

.btn-roxo:hover {
  background-color: #fff !important;
  border: 2px solid #8c52ff !important;
  color: #8c52ff !important;
}

.btn-rosa {
  background-color: #ff66c4 !important;
  color: white !important;
}

.btn-rosa:hover {
  background-color: #fff !important;
  border: 2px solid #ff66c4 !important;
  color: #ff66c4 !important;
}

.btn-azul {
  background-color: #3fc6fc !important;
  color: white !important;
}

.btn-azul:hover {
  background-color: #fff !important;
  border: 2px solid #3fc6fc !important;
  color: #3fc6fc !important;
}

.btn-sizing {
  width: 100px;
}
