<div class="container-fluid">
  <div class="row d-flex align-items-start p-5">
    <div class="col-md-3 text-center p-4 rounded">
      <a [routerLink]="['/perfil', idUsuario]">
        <div class="avatar d-flex justify-content-center">
          <img
            src="{{ usuario.foto }}"
            alt="avatar"
            width="250px"
            height="250px"
            class="rounded-circle"
          />
        </div>
      </a>
      <h5 class="mt-3 mb-5">{{ usuario.nome }}</h5>
      <nav>
        <div class="nav flex-column nav-pills" id="nav-tab" role="tablist">
          <a
            data-toggle="modal"
            id="nav-modal-tab"
            data-target="#novaPostagem"
            class="nav-link btn btn-roxo btn-block mb-2"
          >
            Nova Postagem
          </a>
          <a
            class="nav-link active mb-2"
            id="nav-todas-tab"
            data-toggle="tab"
            href="#nav-todas"
            role="tab"
            aria-controls="nav-todas"
            aria-selected="true"
            >Todas as postagens</a
          >
          <a
            (click)="findByIdUsuario()"
            class="nav-link mb-2"
            id="nav-minhas-tab"
            data-toggle="tab"
            href="#nav-minhas"
            role="tab"
            aria-controls="nav-minhas"
            aria-selected="false"
            >Minhas postagens</a
          >
          <a
            class="nav-link mb-2"
            id="nav-temas-tab"
            data-toggle="tab"
            href="#nav-temas"
            role="tab"
            aria-controls="nav-temas"
            aria-selected="false"
            >Postagens por tema</a
          >
        </div>
      </nav>
    </div>
    <div class="col-md-8 p-5">
      <div class="row">
        <div class="col-md-12">
          <h1>Bem vinde, {{ usuario.nome }}!</h1>
        </div>
      </div>
      <div class="container-fluid p-0 mb-5 mt-5" id="postagens">
        <div class="tab-content mt-4" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="nav-todas"
            role="tabpanel"
            aria-labelledby="nav-todas-tab"
          >
            <!-- Barra de pesquisa -->
            <div class="row d-flex justify-content-end mt-4 mb-4">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="titulo"
                    placeholder="Pesquise uma postagem"
                    [(ngModel)]="tituloPost"
                    (keyup)="findByTituloPostagem()"
                  />
                </div>
              </div>
            </div>

            <div
              class="card mb-4"
              *ngFor="let item of listaPostagens | orderBy: key:reverse"
            >
              <div class="card-body">
                <h3 class="card-title m-0">{{ item.tituloPost }}</h3>
                <p class="card-text my-4">{{ item.textoPost }}</p>
                <div class="w-100 d-flex justify-content-center">
                  <img
                    *ngIf="postTemImg(item.imagemPost)"
                    class="img-post mb-4"
                    src="{{ item.imagemPost }}"
                    alt="Imagem da postagem"
                  />
                </div>

                <div class="d-flex">
                  <div class="my-4 mr-3">
                    <a [routerLink]="['/perfil', item.usuario.id]">
                      <img
                        src="{{ item.usuario.foto }}"
                        alt="imagem do usuário"
                        width="50px"
                        height="50px"
                        class="img-fluid rounded-circle"
                      />
                    </a>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <small class="text-muted"
                      >Por:
                      <a [routerLink]="['/perfil', item.usuario.id]">
                        {{ item.usuario.nome }}
                      </a>
                    </small>
                    <small class="text-muted">
                      Em {{ item.dataPost | date: "dd/MM/yyyy" }} às
                      {{ item.dataPost | date: "HH:mm" }}
                    </small>
                    <small class="text-muted"
                      >Assunto: {{ item.tema.descTema }}</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade"
            id="nav-minhas"
            role="tabpanel"
            aria-labelledby="nav-minhas-tab"
          >
            <div
              class="card mb-4 p-4"
              *ngFor="let item of usuario.postagens | orderBy: key:reverse"
            >
              <div class="card-body">
                <h3 class="card-title m-0">{{ item.tituloPost }}</h3>
                <p class="card-text my-4">{{ item.textoPost }}</p>
                <img
                  *ngIf="postTemImg(item.imagemPost)"
                  class="img-post mb-4"
                  src="{{ item.imagemPost }}"
                  alt="Imagem da postagem"
                />

                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <div class="my-4 mr-3">
                      <a [routerLink]="['/perfil', usuario.id]">
                        <img
                          src="{{ usuario.foto }}"
                          alt="imagem do usuário"
                          width="50px"
                          height="50px"
                          class="img-fluid rounded-circle"
                        />
                      </a>
                    </div>
                    <div class="d-flex flex-column justify-content-center">
                      <small class="text-muted"
                        >Por:
                        <a [routerLink]="['/perfil', usuario.id]">
                          {{ usuario.nome }}
                        </a>
                      </small>
                      <small class="text-muted">
                        Em {{ item.dataPost | date: "dd/MM/yyyy" }} às
                        {{ item.dataPost | date: "HH:mm" }}
                      </small>
                      <small class="text-muted"
                        >Assunto: {{ item.tema.descTema }}</small
                      >
                    </div>
                  </div>
                  <div>
                    <a
                      [routerLink]="['/edit-postagem', item.idPost]"
                      class="btn btn-primary ml-3 mr-3"
                      >Editar</a
                    >

                    <a
                      [routerLink]="['/delete-postagem', item.idPost]"
                      class="btn btn-danger"
                      >Apagar</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="nav-temas"
            role="tabpanel"
            aria-labelledby="nav-temas-tab"
          >
            <!-- Barra de pesquisa -->
            <div class="row d-flex justify-content-end mt-4 mb-4">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="titulo"
                    placeholder="Pesquise um tema."
                    [(ngModel)]="nomeTema"
                    (keyup)="findByNomeTema()"
                  />
                </div>
              </div>
            </div>
            <div *ngFor="let tema of listaTemas">
              <div
                class="card mb-4"
                *ngFor="let item of tema.postagens | orderBy: key:reverse"
              >
                <div class="card-body">
                  <h5 class="card-title m-0">{{ item.tituloPost }}</h5>
                  <p class="card-text mt-3">{{ item.textoPost }}</p>
                  <a [routerLink]="['/perfil', item.usuario.id]">
                    <img
                      *ngIf="postTemImg(item.imagemPost)"
                      class="img-post"
                      src="{{ item.imagemPost }}"
                      alt=""
                    />
                  </a>
                  <p class="card-text">
                    <small class="text-muted">
                      <!-- modificando data e hora -->
                      {{ item.dataPost | date: "dd/MM/yyyy" }} às
                      {{ item.dataPost | date: "HH:mm" }}
                    </small>
                  </p>

                  <p class="card-text">
                    <small class="text-muted">
                      Postado por:
                      <a [routerLink]="['/perfil', item.usuario.id]">
                        {{ item.usuario.nome }}
                      </a>
                    </small>
                  </p>
                  <img
                    src="{{ item.usuario.foto }}"
                    alt="imagem do usuário"
                    width="50px"
                    height="50px"
                    class="img-fluid rounded-circle"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input
            [(ngModel)]="postagem.tituloPost"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            [(ngModel)]="postagem.textoPost"
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="imagem">Imagem</label>
          <input
            [(ngModel)]="postagem.imagemPost"
            type="text"
            class="form-control"
            id="imagem"
            name="imagem"
            placeholder="Link da imagem"
          />
        </div>

        <div class="form-group">
          <label for="tema"
            >Escolha um tema ou
            <a data-dismiss="modal" routerLink="/tema">cadastre um novo</a>
          </label>
          <select
            name="tema"
            id="tema"
            class="form-control"
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.idTema }}">
              {{ item.descTema }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="publicar()"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
